{% extends 'navbar.html' %}
{% block container %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">About</h1>
  	<div>
   		<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"> 
  		<p class="lead"> This is a very high level diagram of the interface we built the backend and frontend for. The core idea here is that a patient is supplied with a card that contains a UID and a private_key to read or authorize access to physicians to read encrypted medical data or to update a patient's medical record. We imagine that this card could be extended to a QR code that could be presented to a physician. This is a proof-of-concept for utilizing a system of blockchains (both public and private) to make reading, writing, removing, and transferring patient medical data more secure.</p> 		
  		<img class="card-img-top embed-responsive-item" src="gdpr.jpg"/>
	</div>
</div>
{% endblock %}
