{% extends 'navbar.html' %}
{% block container %}
  <div class="container-fluid">
    <div class="row">
      <h1 class="h2 mr-4 ml-4">Blockchain</h1>
    </div>
    <div class="d-flex flex-row">
      <div class="card w-100 mb-2 mr-2 ml-2">
        <div class="card-body">
          <div class="card-title h5">Blocks</div>
          <div class="card-text" id="block_data">Block data</div>
        </div>
      </div>
      <div class="card w-100 mb-2 mr-2 ml-2">
        <div class="card-body">
          <div class="card-title h5">Logs from Blockchain Service</div>
          <div class="card-text" id="logs">Log stuff</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      function updateBlockchainBlocks() {
          $.ajax({
              url: "http://127.0.0.1:8001/blockchain",
              type: "POST",
              dataType: 'json',
              data: {cmd: 'true'},
              error: function (request, status, error) {
                  alert('Error: ' + error);
              },
              success: function (response) {
                console.log(response)
                let block_div = $('#block_data');
                block_div.empty();
                for (let i = 0; i < response.length; i++){
                    block_div.append('<li>' + response[i] + '</li>');
                }
              }
          });
          updateBlockchainBlocksTimer();
      }

      function updateLogs() {
          $.ajax({
              url: "http://127.0.0.1:8001/blockchain",
              type: "POST",
              dataType: 'json',
              data: {update: 'true'},
              error: function (request, status, error) {
                  alert('Error: ' + error);
              },
              success: function (response) {
                let logs_div = $('#logs');
                logs_div.empty();
                for (let i = 0; i < response.length; i++){
                    logs_div.append('<li>' + response[i] + '</li>');
                }
              }
          });
          updateLogsTimer();
      }

      function updateBlockchainBlocksTimer(){
          setTimeout(function (){updateBlockchainBlocks()}, 2000);
      }

      function updateLogsTimer(){
          setTimeout(function (){updateLogs()}, 2000);
      }

      $( document ).ready(function() {
          updateBlockchainBlocks();
          updateLogs();
      });
  </script>
{% endblock %}